<div class="content-mobal">
    <div class="header_mini_page">
        <p>
            Create Post
            <button id="exit-mobal" type="button"><i class="bi bi-x-lg"></i></button>
        </p>
    </div>
    <div class="content_mini_page">
        <form action="">
            <div class="input-caption">
                <textarea placeholder="caption" rows="4" id="caption"></textarea>
            </div>
            <div class="choose_file">
                <input type="file" name="filePost">
                <div class="icon_img_video">
                    <i class="bi bi-bookmark-plus-fill"></i>
                </div>
                <button type="button" id="choose-file">Choose file</button>
            </div>
            <div class="select-wrapper">
                <select class="styled-select" name="">
                    <option value="0">Choose an option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                </select>
            </div>
            <button type="submit" id="post">Post</button>
        </form>
    </div>
</div>