<!-- hiển thị ở phần thông tin cá nhân-->
<!-- layout của chức năng hiển thị các bài post của mình-->
<ul>
    <li>
        <div class="post">
            <div id="information-user-post">
                <img src="{{ url_for("static", filename="IMG/AVATAR/USER/defaulf.png")}}" alt="">
                <span>user name</span>
                <button><i class="bi bi-three-dots"></i></button>
            </div>
            <div class="caption">
                <p>caption for post</p>
            </div>
            <div class="media-post">
                <button>
                    <img src="{{ url_for("static", filename="IMG/AVATAR/USER/defaulf.png")}}" alt="">
                </button>   
            </div>
        </div>
        <div class="interact">
            <button><i class="bi bi-suit-heart"></i><span>Like</span></button>
            <button><i class="bi bi-chat"></i><span>Comment</span></button>
            <button><i class="bi bi-bookmarks-fill"></i><span>Save</span></button>
        </div>
    </li>
</ul>
<!--kêt thúc phần layout bài post-->
<!--không có tin nhắn-->
<div class="no-messenger">
    <i class="bi bi-messenger"></i>
    <p><b>Tin Nhan Cua ban<b></p>
    <p>Gui tin nhan rieng tu cho ban be va nhom<p>
</div>