<!DOCTYPE html>
<html>
    <head>
        <title> Forgot Password</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href=" {{url_for("static", filename="css/ForgotPassword.css") }}">
        <link rel="stylesheet" href=" {{url_for("static", filename="css/nontification.css") }}">
        <script src="{{url_for('static', filename='js/nontification.js')}}"></script>
        <script></script>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div class="nontification">
          <div class="title"><p>Nontification</p></div>
          <ul>
          {% for category, message in messages %}
              <li>
                <i class="{% if category == "error" %}
                            {{ 'bx bxs-error-circle' }}
                          {% elif  category == "success"%}
                            {{ "bx bxs-check-circle"}}
                          {% endif %}" 
                id="{{ category }}"></i>
                <p>{{ message }}</p>
              </li>
          {% endfor %}
          </ul>
          <button>OK</button>
        </div>
        {% endif %}
        {% endwith %}
        <section>
            <div class="form-body">
                <form method="POST" action="{{url_for('take_back_password')}}">
                    <h2> Change Password </h2>
                    <div class="form-input">
                        <input type="text" name="Account" id="Account" required>
                        <label for="Account"> Account </label>
                    </div>
                    <div class="form-input">
                        <input type="password" name="NewPassword" id="new_password" required>
                        <label for="new_password"> New password </label>
                    </div>
                    <div class="form-input">
                        <input type="password" name="confirmPassword" id="confirm_password" required>
                        <label for="confirm_password"> Confirm Password </label>
                    </div>
                    <div class="form-input">
                        <input type="email" name="Gmail" id="gmail" required>
                        <label for="gmail"> Gmail </label>
                    </div>
                    <div class="form-input">
                        <input type="text"  name="PhoneNumber" id="PhoneNumber" required>
                        <label for="phone_number"> Phone number </label>
                    </div> 
                    <button type="submit"> change password </button>
                </form>
            </div>
        </section>
    </body>
</html>