<!DOCTYPE html>
<html>
    <head>
        <title> login</title>
        <meta charset="utf-8" />
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='css/Login.css')}}">
        <link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='css/nontification.css')}}">
        <script src="{{ url_for('static', filename='js/nontification.js') }}"></script>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div class="nontification">
          <div class="title"><p>Nontification</p></div>
          <ul>
          {% for category, message in messages %}
              <li>
                <i class="{% if category == "error" %}
                            {{ 'bx bxs-error-circle' }}
                          {% elif  category == "success"%}
                            {{ "bx bxs-check-circle"}}
                          {% endif %}" 
                id="{{ category }}"></i>
                <p>{{ message }}</p>
              </li>
          {% endfor %}
          </ul>
          <button>OK</button>
        </div>
        {% endif %}
    {% endwith %}
        <section>
            <div class="form-box">
                <div class="form-value">
                    <form action="/Login" method="POST">
                        <h2> login </h2>
                        <div class="inputbox">
                            <icon name="heart"><icon>
                            <input type="text" id="Account" name="Account" required>
                            <label for="Account"> User name </label>
                        </div>
                        <div class="inputbox">
                            
                            <input type="password" id="password" name="Password" required >
                            <label for="password">Password</label>
                        </div>
                        <div class="forgot_password">
                            <a class="forgot_password" href="{{ url_for('take_back_password') }}">Forgot password?</a>
                        </div>
                        <div class="inputbox" id="submit">
                            <button type="submit"> Login </button>
                        </div>
                        <div class="inputbox" id="Register">
                            <p>you need a Account <a href="{{ url_for('Register')}}">register here!</a></p>
                        </div>     
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>-