<!DOCTYPE html>
<!-- boxicons.com -->
<html>
  <head>
    <title>Sign Up User Name</title>
    <meta charset="UTF-8" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='css/Register.css')}}">
    <link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='css/nontification.css')}}">
    <script src="{{url_for('static', filename='js/nontification.js')}}"></script>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div class="nontification">
          <div class="title"><p>Nontification</p></div>
          <ul>
          {% for category, message in messages %}
              <li>
                <i class="{% if category == "error" %}
                            {{ 'bx bxs-error-circle' }}
                          {% elif  category == "success"%}
                            {{ "bx bxs-check-circle"}}
                          {% endif %}" 
                id="{{ category }}"></i>
                <p>{{ message }}</p>
              </li>
          {% endfor %}
          </ul>
          <button>OK</button>
        </div>
        {% endif %}
    {% endwith %}
    <section>
      <div class="form-sign-up">
        <form method="POST" action="{{ url_for('Register') }}" enctype="multipart/form-data">
          <h2>Sign Up</h2>
          <div class="form">
            <div class="form-input">
              <div class="input">
                <input type="text" name="Account" id="Account" value="{{ account or ""}}" required />
                <label for="Account">Account</label>
              </div>
              <div class="input">
                <input type="text" name="UserName" id="UserName" value=" {{ userName or ""}}" required />
                <label for="UserName">Full name</label>
              </div>
              <div class="input">
                <input type="password" name="Password" id="password" value="{{ password or ""}}" required />
                <label for="password">Password</label>
              </div>
              <div class="input">
                <input type="password" name="confirmPassword" id="confirmPassword" value="{{ confirmPassword or ""}}" required />
                <label for="confirmPassword">Confirm Password</label>
              </div>
              <div class="input" id="submit">
                <button type="submit">Register</button>
              </div>
            </div>
            <div class="form-input">
              <div class="input">
                <input type="gmail" name="Gmail" id="gmail" value="{{ gmail or ""}}" required />
                <label for="gmail">Gmail</label>
              </div>
              <div class="input">
                <input type="text" name="PhoneNumber" id="phone_number" value="{{ phoneNumber or ""}}" required />
                <label for="phone_number">Phone number</label>
              </div>
              <div class="input">
                <div class="container">
                  <div class="card">
                    <h3>choose Avatar</h3>
                    <div class="drop_box">
                      <header>
                        <img src="{{ url_for("static", filename = avatarDefault )}}" id="avatar" alt="preview avatar"/>
                      </header>
                      <p>
                        Files Supported:{% for file in fileAccept %}
                          {{ file }},
                        {% endfor %}
                      </p>
                      <input type="file"
                        hidden
                        accept="{% for file in fileAccept %}{{ file }},{% endfor %}"
                        id="fileID"
                        style="display:none;"
                        name="Avatar" />
                      <button class="btn" type="button">Choose File</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
    <script src="{{url_for('static', filename='js/Register.js')}}"></script>
  </body>
</html>
